.poljeIspravno {
    -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
    -fx-control-inner-background: lightpink;
}

.myborderregion{
    -fx-border-color:red;
    -fx-border-width:3px;
}