.poljeIspravno {
    -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
    -fx-control-inner-background: lightpink;
}

.myborderregion{
    -fx-border-color:yellow;
    -fx-border-width:2px;
    -fx-border-radius:100PX;
}